<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}

<div class="container" style="height: 500px; padding-top: 100px">
    <form action="" method="post">
        {% csrf_token %}
        <p class="">您的邮箱为:<b>{{email}}</b></p>
        <p class="">已经向您的邮箱发送了验证码</p>
        <p class=""><b>3</b>分钟内有效</p>
        <a href="">重新发送验证码(三分钟后生效)</a>
        <p style="color: red">{{warning}}</p>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">验证</span>
          <input type="text" name="code" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <br><br>
        <input type="submit" class="btn btn-primary btn-block">
    </form>
</div>
{% endblock %}
</body>
</html>